@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bmv-green-hsl: 82 22% 24%;
    --bmv-yellow-hsl: 41 84% 56%;
    --bmv-blue-hsl: 222 18% 28%;
    --bmv-black-hsl: 350 3% 16%;
    --bmv-white-hsl: 0 0% 100%;

    --background-primary-hsl: 210 17% 98%;
    --background-secondary-hsl: 0 0% 100%;

    --text-primary-hsl: 350 3% 16%;
    --text-secondary-hsl: 215 14% 34%;
    
    --background: var(--background-primary-hsl);
    --foreground: var(--text-primary-hsl);
    --card: var(--background-secondary-hsl);
    --card-foreground: var(--text-primary-hsl);
    --popover: var(--background-secondary-hsl);
    --popover-foreground: var(--text-primary-hsl);
    --primary: var(--bmv-green-hsl);
    --primary-foreground: var(--bmv-white-hsl);
    --secondary: var(--bmv-yellow-hsl);
    --secondary-foreground: var(--bmv-black-hsl);
    --muted: var(--background-primary-hsl);
    --muted-foreground: var(--text-secondary-hsl);
    --accent: var(--bmv-blue-hsl);
    --accent-foreground: var(--bmv-white-hsl);
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: var(--bmv-green-hsl);
    --radius: 0.5rem;

    --sidebar-background: var(--bmv-black-hsl);
    --sidebar-foreground: 210 20% 98%;
    --sidebar-border: 220 13% 23%;
    --sidebar-accent: var(--bmv-green-hsl);
    --sidebar-accent-foreground: var(--bmv-white-hsl);
    --sidebar-ring: var(--bmv-yellow-hsl);
  }

  .dark {
    --background: var(--bmv-black-hsl);
    --foreground: var(--bmv-white-hsl);
    --card: 222 18% 18%;
    --card-foreground: 0 0% 98%;
    --popover: 222 18% 18%;
    --popover-foreground: 0 0% 98%;
    --primary: var(--bmv-green-hsl);
    --primary-foreground: var(--bmv-white-hsl);
    --secondary: var(--bmv-yellow-hsl);
    --secondary-foreground: var(--bmv-black-hsl);
    --muted: var(--bmv-blue-hsl);
    --muted-foreground: 215 20% 65%;
    --accent: var(--bmv-yellow-hsl);
    --accent-foreground: var(--bmv-black-hsl);
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 18% 28%;
    --input: 222 18% 28%;
    --ring: var(--bmv-green-hsl);

    --sidebar-background: var(--bmv-black-hsl);
    --sidebar-foreground: 210 20% 98%;
    --sidebar-border: 220 13% 23%;
    --sidebar-accent: var(--bmv-green-hsl);
    --sidebar-accent-foreground: var(--bmv-white-hsl);
    --sidebar-ring: var(--bmv-yellow-hsl);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  font-family: var(--font-montserrat);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-raleway);
}
